# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/
/tmp/**/* 
.sass-cache/
.DS_Store
_new_features/
*.swp
*.swo
/config/services.yml
/config/config.yml
/spec/config/services.yml
/spec/vcr/
/lib/tasks/vcr/