<div class="hidden-phone">
	<%= paginate @social_media %>
</div>
<div class="clearfix"></div>
<% @social_media.each do |post| %>
  <%= render :partial => "#{post.provider.downcase}", :locals => {:post => post} %>
<% end %>
<%= paginate @social_media %>
<%= content_for :additional_js do %>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<% end %>