<h1>About Us</h1>
					
<p>Mother?</p>
<p>Father?</p>
<p>Athlete?</p>
<p>Teacher?</p>
<p>For us, the word is “Christians”.  Or, to add a few more words, we prefer – “followers of Christ”.  Candice and I, Johnathan, love God with a deep passion, and strive to follow Him everyday.  Without His grace and love through His son Jesus Christ, we would not be who we are today. There are other words that describe us, but ultimately our decisions, our motives, and our passions revolve around the God we desire to serve.</p>
<h2>Background</h2>
<p>Candice  and I met at the California Polytechnic University, in Pomona, Ca.  We met in a group called Asian American Christian Fellowship.  After graduating, we started dating and were married at Knott’s Berry Farm in August 2004, with Snoopy as our guest of honor.</p>
<p>We have been married now for 5 years, and have two spoiled dogs, Max and Mandy and one cat named Merlin.  We currently attend <a title="San Gabriel Community Church Website" href="http://www.sgucandcs.org/" target="_blank">San Gabriel Community Church</a> in San Gabriel, California.  For leisure we enjoy learning new things and taking classes that have ranged from Ballroom dancing, wood working to Bible study methods.  We also love spending time with family and friends but also making new ones.</p>
<h3>Candice</h3>
<p>After graduating Cal Poly, Candice has been working in the field of engineering.  Her current responsibility includes overseeing a database of components and interfacing with the user of each component.</p>
<h3>Johnathan</h3>
<p>I graduated Cal Poly with a Bachelor of Arts in History, and a California Teaching Credential.  It was my hope to teach junior high school History, but God had different plans.  After graduating, I fell in love with web development, and found myself as a partner in a web development company titled PolySys Consulting, LLC.  For three years, I worked with clients, consulting and assisting them with their web development needs.  Eventually the business was closed, but I continued working with varying clients to provide their web service needs.  With 7 years of coding under my belt, I have truly become a geek at heart.  If you would like to see a portfolio of my work, please visit my resume site by <a title="Check out my portfolio website!" href="http://www.codemis.com" target="_blank">clicking here</a>.  I am currently serving as the Project Director for <a href="http://www.missionaldigerati.org">Missional Digerati</a>.</p>
<h2>Why Missions?</h2>
<p>I think this video explains why we believe God is calling us to this ministry.</p>
<div class="resizable-video">
  <iframe src="http://player.vimeo.com/video/7857155?title=0&amp;portrait=0&amp;color=ff9933" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<h2>What is Missional Digerati?</h2>

						<p>Look around,  and you will notice that technology has saturated our world.  Computers, mobile phones, and tablet devices have become a natural part of our daily lives.  Currently there are over <a href="http://www.internetworldstats.com/stats.htm" rel="no-follow" target="_blank">2.26 billion internet users</a>, and <a href="http://en.wikipedia.org/wiki/List_of_countries_by_number_of_mobile_phones_in_use" rel="no-follow" target="_blank">5.6 billion mobile phone users</a> worldwide.  Even though these numbers may seem shocking,  they will only continue to rise throughout the following years.  If the Christian community could harness the power of these technologies,  we can dramatically expedite the delivery of the good news of Jesus Christ to every person on the Earth.  Missional Digerati is a Christian non-profit organization dedicated to leveraging technology for the purpose of delivering the Gospel to every nation.  As a web and mobile development team, we are focused on providing up-to-date technological expertise to existing Christian mission agencies, and developing tools that equip them for their unique task in the Great Commission.  To find out more,  please visit our website at <a href="http://www.missionaldigerati.org">www.missionaldigerati.org</a>.</p>