<p>Dear Pulos',<br>
A visitor to your website is requesting more info about your ministry.  Here is there information:<br>
Name: <%= @params['name'] %><br>
Email: <%= @params['email'] %><br>
Phone Number: <%= number_to_phone @params['phone_number'] %><br>
Best Times to Meet:<br><%= @params['best_times'] %><br>
Have an awesome day!<br><br>
Your Servant,<br>
Your Web Server :)
</p>