---
http_interactions:
- request:
    method: get
    uri: http://api.twitter.com/1.1/statuses/user_timeline.json?count=10&screen_name=jpulos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FqIuU8wl8szZGUgXleb8g", oauth_nonce="r9Kidj2uTwzzw9bw9Fr0MG8AptgP8ChXBVmOiehifI",
        oauth_signature="6XiCUdXH5TvoVKcL6GCbYsQymdY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1348010325", oauth_token="38516491-rx4oiwpQaOF7DBYVYd0vw6SeoWQqisXh28Zx4ntKc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Access-Level:
      - read
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 18 Sep 2012 23:18:48 GMT
      Status:
      - 200 OK
      X-Transaction:
      - f35a7c649cf979bf
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1348010912'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"Tue Sep 18 20:16:34 +0000 2012","id":248153563149254657,"id_str":"248153563149254657","text":"RT
        @wisdomalive: \"It''s not too late, just later than it was.\" Seth Godin #Timing
        #Perspective","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":38516491,"id_str":"38516491","name":"Johnathan
        Pulos","screen_name":"jpulos","location":"Southern California","description":"ROR,
        PHP, & IPhone App Developer.","url":"http:\/\/www.jpulos.com\/","entities":{"url":{"urls":[{"url":"http:\/\/www.jpulos.com\/","expanded_url":null,"indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":70,"friends_count":71,"listed_count":1,"created_at":"Thu
        May 07 21:03:04 +0000 2009","favourites_count":1,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":897,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/311114358\/MissioDigioBG.jpg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/311114358\/MissioDigioBG.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1494075577\/9124_152525099173_590634173_2530218_81225_n_normal.jpg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1494075577\/9124_152525099173_590634173_2530218_81225_n_normal.jpg","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Sep 18 19:35:24 +0000 2012","id":248143204367609857,"id_str":"248143204367609857","text":"\"It''s
        not too late, just later than it was.\" Seth Godin #Timing #Perspective","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":88444336,"id_str":"88444336","name":"Wisdomalive","screen_name":"wisdomalive","location":"USA","d[...]
