/*Mobile Phone Specifics*/
// Core variables and mixins
@import "twitter/bootstrap/bootstrap";
/* Portrait*/
@media (max-width: 350px) {
	
	body {
		padding: 25px;
	}
	
	#repeatable_layer {
		background-image: none;
		background-position: 0px;
		
		.row {
			margin-left: 0px;
		}

		.span9 {
			width: 310px;
			margin: 0px 5px;
		}

		.span8 {
			width: 300px;
		}

		.span1 {
			width: 10px;
		}
		
		.blog-posts .pagination{
			float: none;
			text-align: center;
		}
		
	}
	
	.post-box {
		position: relative;
		margin: 5px 0;
		padding: 2px;
		background-color: white;
		border: 1px solid #DDD;
		.border-radius(5px);
		border-image: initial;
		width: 80%;
	}

	.navbar .brand {
		margin-left: 2px !important;
	}
}
@media  (min-width: 351px) and (max-width: 480px) {
	
	body {
		padding: 25px;
	}
	
	#repeatable_layer {
		background-image: none;
		background-position: 0px;
		
		.row {
			margin-left: 0px;
		}

		.span9 {
			width: 470px;
			margin: 0px 5px;
		}

		.span8 {
			width: 460px;
		}

		.span1 {
			width: 10px;
		}
		
		.blog-posts .pagination{
			float: none;
			text-align: center;
		}
		
	}
	
	.post-box {
		position: relative;
		margin: 5px 0;
		padding: 2px;
		background-color: white;
		border: 1px solid #DDD;
		.border-radius(5px);
		border-image: initial;
		width: 80%;
	}

	.navbar .brand {
		margin-left: 2px !important;
	}
}