<% unless flash[:notice].blank? %>
  <div class="alert-info alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= content_tag :div, flash[:notice] %>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="alert-error alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= content_tag :div, flash[:error] %>
  </div>
<% end %>

<% unless flash[:alert].blank? %>
  <div class="alert-info alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= content_tag :div, flash[:alert] %>
  </div>
<% end %>